* { padding: 0;
	margin: 0; 
	overflow: hidden;
}

body{
	font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
	font-size: 14pt;
	line-height: 18pt;
}


button{
	height: 30px;
	width: 60px;
	margin-top: 10px;
	margin-left: 50px;
}
